.avatar {
  border-radius: 50%;
  margin-right: 8px;
}
.userName {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
}
.profileLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-right: #fff;
}
.logoutContainer {
  display: none;
}
.mobileMenuLog {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnLogout {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;

  padding: 4px;
}

.iconLogout {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1440px) {
  .userName {
    color: #fff;
  }
  .logoutContainer {
    color: #fff;
  }
  .btnLogout {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;

    padding: 4px;
  }
  .iconLogout {
    fill: #fff;
  }
  .logoutContainer {
    display: flex;

    justify-content: center;
    align-items: center;
  }
}
