.authContainer {
  display: flex;
}
.linkAuthRender {
  display: none;
}
.mobAuthContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobAuthEnter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 4px 10px;
  width: 100%;
  height: 35px;
  margin-bottom: 16px;

  color: #131f43;

  background-color: rgba(0, 0, 0, 0.05);

  transition:
    border 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}
.mobAuthLinkReg {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4169e1;
  border-radius: 8px;
  padding: 4px 10px;
  width: 100%;
  height: 35px;

  color: #fff;
  background-color: #4169e1;

  transition:
    border 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}

.btnLogout {
  display: none;
}

.mobAuthLink {
  display: flex;
}
@media screen and (min-width: 768px) {
  .mobAuthLink {
    display: flex;
  } /* .linkLogin,
  .linkCreate {
    display: flex;
  } */
  /* .authContainer {
    margin-left: auto;
  } */
}
@media screen and (min-width: 1440px) {
  .linkRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 4px 10px;
    width: 113px;
    height: 35px;
    color: black;
    background-color: #fff;
    transition:
      border 0.3s ease,
      background-color 0.3s ease,
      color 0.3s ease;
    display: none;
  }
  .btnLogout {
    display: flex;
  }
  .linkLogin {
    display: flex;
    align-items: center;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 4px 10px;
    width: 58px;
    height: 35px;

    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);

    transition:
      border 0.3s ease,
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .linkLogin:hover,
  .linkLogin:focus {
    color: black;
    background-color: #e8eeff;
    border: 1px solid #4169e1;
  }

  .linkRegister:hover,
  .linkRegister:focus {
    color: #fff;
    background-color: #4169e1;
    border: #4169e1;
  }

  .linkLoginDefault {
    color: #030a06;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .linkLoginDefault:hover,
  .linkLoginDefault:focus {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #4169e1;
    color: #030a06;
  }

  .linkRegisterDefault {
    background-color: #4169e1;
    color: #fff;
    border: 1px solid #4169e1;
  }

  .authContainer {
    margin-left: 0;
  }
  .linkRegister {
    margin-left: 16px;
  }
  .logoutBtn,
  .linkAuthRender {
    display: flex;
  }
}
