.card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
    padding: 24px;
    min-width: 250px;
    width: 355px;
    height: 363px;
    background-color: #e8eeff;

    @media screen and (min-width: 768px) {
        width: 340px;
    }

    @media screen and (min-width: 1440px) {
        width: 310px;
        height: 383px;
    }
}

.photo {
    border-radius: 50%;
}

.info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    height: 200px;

    overflow: hidden;
}

.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    font-family: var(--mainFontFamily);

    @media screen and (min-width: 1440px) {
        font-size: 26px;
    }
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;


    @media screen and (min-width: 768px) {
        width: 292px;
    }

    @media screen and (min-width: 1440px) {
        width: 262px;
    }
}