.logoLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logoIcon {
  justify-content: center;
  align-items: center;
}
.logoMob {
}
.logoText {
  margin-left: 1px;
  font-size: 17px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.logoFootText {
  color: black;
}
.logoMobText {
  color: #000;
}
.logoAuthText {
  color: #000;
}
.logoHeaderTextDefault {
  color: #030a06;
}
@media only screen and (min-width: 768px) {
  .logoFoot {
    justify-content: start;
    align-items: start;
  }
}

@media only screen and (min-width: 1440px) {
  .logoFoot {
  }
}
